<tr class="actionTr" >
    <td colspan="{$colspan}" class="actionTd" style="border-right: none">
        <div class="input-group">
            <label for="actionSelect" class="input-group-addon">akcja: </label>
            <select  class="form-control actionSelect"  name="selectedAction">
                <option value="0">-- wybierz --</option>
                <option value="delete">usuń</option>
            </select>
        </div>
    </td>
    <td style="text-align: center;">
        <input type="checkbox" class="selectAllCheckbox"/>
    </td>
</tr>