.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.error {
    color: red;
}

.container {
    margin-left: 0px !important;
    margin-top: 15px !important;
}

.sidebar {
    margin-top: 50px !important;
}

#submlink{
    float:right;
}

#mainAdminForm{
    margin: 0 auto;
}

.messageDiv{
    margin-top: 60px;
    margin-bottom: 10px;
    color:red;
    text-align:center;
}