.mainSiteHeader{
	color: #1b1b1b;
	font-size: 30px;
	width: 964px;
	text-align: center;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	margin-top: 30px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	font-weight: normal;
}
.subMainSiteHeader{
	color: #1b1b1b;
	font-size: 17px;
	width: 964px;
	text-align: center;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	margin: 5px 0 45px 0;
	height: 20px;
	line-height: 20px;
	padding: 0;	
	font-weight: normal;
}
/****************************************************************************/
.accBox{
	float: left;
	margin: 0 18px 10px 18px;
    width: 964px;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    clear: both;
}
.leftAcc{
	float: left;
	min-height: 100px;
	width: 444px;
	margin: 0;	
	padding:0 38px 5px 0;
	background: url('/public/images/pageBg/accLeftBg.png') no-repeat bottom left;
}
h2.accHeader{
	font-size: 30px;
	line-height: 50px;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	padding: 0;
	margin: 20px 0;	
}
.leftAcc h2.accHeader{
	text-align: right;
	color: #e926ae;

}
.rightAcc{
	float: right;
	min-height: 100px;
	width: 444px;
	margin: 0;	
	padding:0 0 5px 38px; 
	background: url('/public/images/pageBg/accRightBg.png') no-repeat bottom right;	
}
.rightAcc h2.accHeader{
	text-align: left;
	color: #0065c0;
}
.accBtns{
	width:183px;
	height: 54px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	float: left;
	display: block;
	margin: 0;
	font-size: 19px;
	border-radius: 1px;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	
}
.accBtns span{
	position: absolute;
	bottom: -15px;
	left: 65px;
	font-size: 12px;
}
.accBtnLeft{
	border: 1px solid #bf168c;
	background-color: #e825ad;
	float: right;
	background: #e825ad url('/public/images/pageBg/leftBtnIcon.png') no-repeat 18px 24px;
	position: relative;
}
.accBtnRight{
	border: 1px solid #004b8f;
	background-color: #0065c0;
	float: left;
	background: #0065c0 url('/public/images/pageBg/rightIconBtn.png') no-repeat 160px 24px;	
	position: relative;
}
.accText{
	color: #1e1e1e;
	font-size: 14px;
	line-height: 18px;	
	font-family: 'calibri';
}
.leftAccText{
	width:210px;
	float: right;
	margin: 20px 0 0 0;
	text-align: right;
	clear: both;
}
.rightAccText{
	width:210px;
	float: left;
	margin: 20px 0 0 0;	
	clear: both;
}

/*********************************************************************************/

.ourUsers{
	float: left;
	width: 964px;
	margin: 0 18px;
	height: 290px;
	border-bottom: 1px solid #ececec;
	clear: both;
}
.usersListLeft{
	float: left;
	width: 472px;
	margin:0;
	padding: 0;
	height: 124px;
}
.usersListLeft li{
	width:79px;
	float: right;
	height: 124px;
	margin: 0 10px 0 9px;
	padding:0;
	list-style: none;
	text-align: center;
}
.usersListLeft li img{
	border-bottom: 3px solid #e825ad;
}
.usersListLeft li span{
	font-size: 12px;
	color: #e825ad;
}
.usersListLeft li:first-child{
	margin-right:0;
}
.usersListLeft li:last-child{
	margin-left:0;
}
.usersListRight{
	float: right;
	width: 472px;
	margin:0;
	padding:0;
	height: 124px;
}
.usersListRight li{
	width:79px;
	float: left;
	height: 124px;
	margin: 0 10px 0 9px;
	padding:0;
	list-style: none;
	text-align: center;
}
.usersListRight li img{
	border-bottom: 3px solid #0065c0;
}
.usersListRight li span{
	color: #0065c0;
	font-size: 12px;
}
.usersListRight li:first-child{
	margin-left:0;
}
.usersListRight li:last-child{
	margin-right:0;
}

/**************************************************************/

.whyBox{
	float: left;
	width: 964px;
	margin: 0 18px;
	border-bottom: 1px solid #ececec;
	clear: both;
}
.whyBoxLeft{
	float: left;
	width: 446px;
	padding: 0 28px 0 0 ;
	margin: 0  0 0 8px;		
	text-align: right;
}
.whyBoxLeft ul{
	list-style-image: url('/public/images/pageBg/dotPink.png');
	width: 431px;
	float: left;
	margin-left: 15px;
}
.whyBoxLeft h4{
	float: left;
	width: 446px;
	margin: 30px 0 10px 0;
	color: #e926ae;
	font-size: 18px;
	height:30px;
	font-weight: normal;
}
.whyBoxLeft ul li{
	font-size: 14px;
	line-height: 18px;	
	font-family: 'Calibri';
	color: #1e1e1e;	
	margin: 15px 0;
}
.whyBoxRight{
	float: right;
	width: 446px;
	margin: 0 8px 0 0;
	padding: 0  0 0 28px;
}
.whyBoxRight ul{
	list-style-image: url('/public/images/pageBg/dotBlue.png');
		width: 431px;
	float: left;
	margin-left: 15px;
}
.whyBoxRight ul li{
	font-size: 14px;
	font-family: 'Calibri';
	line-height: 18px;
	color: #1e1e1e;	
	margin: 15px 0;
}
.whyBoxRight h4{
	float: left;
	width: 426px;
	margin: 30px 0 10px 0;
	color: #0065c0;
	font-size: 18px;	
	height:30px;
	font-weight: normal;	
}

/******************************* Box referencje****************************************/

.refBox{
	float: left;
	width: 964px;
	margin: 0 18px 40px 18px;
	height: 445px;
}
.refBoxTxt{
	font-family: 'Calibri';
	color:#1e1e1e;
	font-size:14px;
	font-style: italic;
	line-height: 20px;		
}
.refBoxLeftTop{
	float: left;
	width:450px;
	background: url('/public/images/pageBg/refIconLeft.png') no-repeat 390px 20px;
	margin: 0 0 30px 30px;	
}
.refBoxLeftToPMid{
	margin: 0 60px 0 0;
	float: left;
	width: 350px;
	background-color: #f0f0f0;
	padding: 20px;
	border-bottom: 3px solid #e2e2e2;
}

.refBoxRightTop{
	float: left;
	width:400px;
	background: url('/public/images/pageBg/refIconRight.png') no-repeat 0 60px;	
	margin: 0 0 30px 30px;		
}
.refBoxRightTopMid{
	margin: 0 0 0 46px;
	float: left;
	width: 320px;
	padding: 20px;
	background-color: #f0f0f0;
	border-bottom: 3px solid #e2e2e2;
}
.refBoxLeftBottom{
	float: left;
	width:400px;
	background: url('/public/images/pageBg/refIconLeft.png') no-repeat 340px 30px;
	margin: 0 10px 0 54px;		
}
.refBoxLeftBottomMid{
	margin: 0 60px 0 0;
	float: left;
	width: 300px;
	background-color: #f0f0f0;
	padding: 20px;
	border-bottom: 3px solid #e2e2e2;
}

.refBoxRightBottom{
	float: left;
	width:420px;
	background: url('/public/images/pageBg/refIconRight.png') no-repeat 0 50px;	
	margin: 0 0 30px 50px;		
}
.refBoxRightBottomMid{
	margin: 0 0 0 46px;
	float: left;
	width: 340px;
	padding: 20px;
	background-color: #f0f0f0;
	border-bottom: 3px solid #e2e2e2;
}
.refBoxSign{
	float: right;
	font-size: 12px;
}
.refBoxRightTop .refBoxSign,
.refBoxRightBottom .refBoxSign{
	color: #0065C0;
}
.refBoxLeftTop .refBoxSign,
.refBoxLeftBottom .refBoxSign{
	color: #E926AE;
}
/*********************************** Formularze rejestracyjne **********************************************/
.registerSite{
	float: left;
	width: 100%;
	border-top: 1px solid #ECECEC;
    float: left;
    margin: 0 18px;
    width: 964px;
}
.registrationForm{
	margin: 50px 132px;
	width: 700px;
	float:left;
	clear:both;
}
.registrationForm ul{
	list-style: none;
	float: left;
	width: 700px;
}
.registrationForm ul li{
	list-style: none;
	float: left;
	width: 700px;
	padding: 20px 0;
	position: relative;
}
.regFormHeaderLabel{
	float: left;
	width: 200px;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 0;
	text-align: right;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}
.regFormHeaderLabelLong{
	line-height: 20px;
	margin-top: -5px;
}
.regFormGroupRadio{
	float: left;
	width: 430px;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.regFormGroupRadio label{
	padding: 0 0 0 20px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    line-height: 30px;	
    height: 30px;
    margin: 0 40px 0 0;
}
.regFormGroupRadio input[type="radio"]{
	margin: 0 10px 0 -21px;	
}
.regFormGroupCheckbox{
	float: left;
	width: 430px;
	padding: 0;
	line-height: 30px;	
}
.regFormGroupCheckbox label{
	padding: 0 0 0 10px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    line-height: 30px;	
    height: 30px;
    margin: 0 40px 0 0;
}
.regFormGroupCheckbox input[type="checkbox"]{
	margin: 0 10px 0 0;	
}
.regFormInputText{
	width: 358px;
	float: left;
	height: 28px;
	padding: 0 5px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
}
.regFormSelect{
	width: 370px;
	float: left;
	padding: 1px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;	
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
}
.regFormGroupChekbox{
	float: left;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    padding: 2px 0 0 0;	
}
.regFormInputCheckbox{
	float: left;
	margin: 7px 10px 0 0;
}
.regFormLink{
	color: #AFAFAF;
}
.regFormLinkBlue{
	color: #0065C0;
}
.regFormLinkPink{
	color: #E926AE;
}
.regFormInputSubmit{
	border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
    font-size: 19px;
    height: 54px;
    line-height: 54px;
    margin: 0;
    text-align: center;
    width: 250px;
    float: left;
    margin: 0 0 0 230px;
}
.regFormInputSubmit:hover{
	opacity:0.8;
	cursor: pointer;
}
.regFormInputSubmitGray{
    backgr/ound: url("/public/images/pageBg/rightIconBtn.png") no-repeat scroll 202px 24px #AFAFAF;
    background-color: #727272;
    border: 1px solid #969696;
} 
.regFormInputSubmitPink{
    backg/round: url("/public/images/pageBg/rightIconBtn.png") no-repeat scroll 202px 24px #E825AD;
    background-color: #E825AD;
    border: 1px solid #BF168C;	
} 
.regFormInputSubmitBlue{ 
    backgr/ound: url("/public/images/pageBg/rightIconBtn.png") no-repeat scroll 202px 24px #0065C0;
    background-color: #0065C0;
    border: 1px solid #004B8F;
}
.regFormTextarea{
	width: 358px;
	float: left;
	height: 200px;
	padding: 0 5px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;	
}
/*******************************************************************/
.loginSite{
	float: left;
	clear: both;
	margin: 0 18px;
    width: 964px;
    border-top: 1px solid #ECECEC;	
}
.loginForm{
	clear: both;
    float: left;
    margin: 50px 132px;
    width: 700px;
}
.loginForm ul{
	float: left;
    list-style: none outside none;
    width: 700px;
}
.loginForm ul li {
    float: left;
    list-style: none outside none;
    padding: 20px 0;
    width: 700px;
    position: relative;
}