.midBox{
	float: left;
    margin: 0;
    min-height: 200px;
    width: 467px;
    clear: both;	
}
.midList{
	
}

/********************Buttony*************************/
.panelBtn{
	display: block;
	border-radius: 1px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}
.panelBtn:hover{
	opacity:0.8;
	cursor: pointer;
}
.panelBtnS{
	width: 85px;
	height: 28px;
    line-height: 28px;
    font-size: 12px;
}
.panelBtnL{
	width: 142px;
	height: 30px;
    line-height: 30px;
    font-size: 12px;	
}
.panelBtnXL{
	
}
.panelBtnPink{
	border: 1px solid #BF168C;
	background-color: #E825AD;
}
.panelBtnBlue{
	border: 1px solid #004B8F;
	background-color: #0065C0;
}

/*********************************************/

.panelSite{
	float: left;
	width: 100%;
	border-top: 1px solid #ECECEC;
    float: left;
    margin: 0 18px;
    padding: 35px 0;
    width: 964px;
}
.panelSiteLeft{
	float: left;
	width: 250px;
}
.panelSiteRight{
	float: left;
	width: 193px;
}
.panelSiteCenter{
	width: 467px;
	float: left;
	min-height: 200px;
	margin: 0 27px;
}
.panelBtnMini{
	border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 85px;
    margin: 10px 0;	
}
.panelBtnMini:hover{
	opacity: 0.8;
	text-decoration: none;
}
.panelBtnMiniBlue{
    background: url("/public/images/pageBg/.png") no-repeat scroll 8px 8px #0065C0;
    border: 1px solid #004B8F;
    margin-right: 0;
}
.panelLinkDef{
	margin-top: 5px;
	padding: 0 5px;
	background: url('/public/images/pageBg/nextLinkIcon.png') no-repeat  right 4px;
}
.panelHeader{
	float: left;
	color: #000;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;
	margin: 0 0 0 17px;
	padding:0 0 10px 0; 	
}
.panelHeader250{
	width: 250px;
}
.panelHeader467{
	width: 467px;
}
.panelHeader193{
	width: 195px;
}
.panelLink{
	float: right;
	display: block;
	padding: 3px 5px;
	margin: 5px 15px;
	background: url('/public/images/pageBg/nextLinkIcon.png') no-repeat  right 9px;
	font-size: 11px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 12px;
}
.panelLinkLong{
	margin:5px 0 0 0;
	float: left;
	padding: 0;
}
.panelBoxContent{
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	float: left;
	width: 100%;
	padding: 15px 0;
}

/*********************************************/

.panelSiteLeft .panelFotoUser{
	float: left;
	margin: 0 16px 0 17px;
	width: 79px;
	height: 97px;
}
.panelSiteLeft .panelFotoUserFemale{
	border-bottom:3px solid #E825AD;
}
.panelSiteLeft .panelFotoUserMale{
	border-bottom:3px solid #004B8F;
}
.panelSiteLeft .panelInfoUser{ 
	float: left;
	width: 138px;
}
.panelSiteLeft .panelUserName{
	color: #000;
	font-size: 18px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;
}
.panelSiteLeft .panelLastDate{
	color: #000;
	font-size: 10px;
	line-height: 18px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;	
}
.panelSiteLeft .panelUserMenu{
	float: left;
	width: 250px;
	list-style: none;
	margin: 30px 0 0 0;
	padding: 0;
	border-top: 1px solid #ececec;
}
.panelSiteLeft .panelUserMenu li{
	float: left;
	width: 216px;
	margin:0;
	padding: 7px 17px;
	border-bottom: 1px solid #ececec;
	background: url('/public/images/pageBg/listIconBlue.png') no-repeat  230px 15px;
	line-height: 20px;
}
.panelSiteLeft .panelUserMenu li a{
	color: #000;
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;		
}
.panelSiteLeft .panelWatchBox{
	float: left;
	width: 250px;
	margin: 30px 0 0 0;
}
.panelSiteLeft .panelWatchList{
	float: left;
	padding: 0;
	width: 220px;
	margin:0 15px;
	list-style: none;
}
.panelSiteLeft .panelWatchList li{
	width: 40px;
	height: 50px; 
	float: left;
	margin: 2px;
}
.panelBaner{
	float: left;
    margin: 30px 0 0;
    width: 250px;
    height: 200px;
    border: 1px solid #ECECEC;
}
/***************************************************************************/

.panelSiteRight .adsPanelRightBox{
	float: left;
	width: 193px;
}
.panelSiteRight .adsPanelRightBoxList{
	float: left;
	width: 193px;	
	list-style: none;
}
.panelSiteRight .adsPanelRightBoxList li{
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #ECECEC;
	float: left;
	width: 193px;	
}
.panelSiteRight .adsPanelRightBoxList li:first-child{
	padding-top: 0px;	
}
.panelSiteRight .adsPanelRightBoxList li:last-child{
	border-bottom: none;
	padding-top: 15px;
	padding-bottom: 0;	
}
.panelSiteRight .adsPanelRightBoxListHeader{
	float: left;
	width: 193px;	
}
.panelSiteRight .adsPanelRightBoxListDate{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: left;
	margin-top: -10px;
	line-height: 20px;	
	display: block;
	width: 193px;	
}
.panelSiteRight .adsPanelRightBoxListHeader{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
	font-weight: bold;
} 
.panelSiteRight .adsPanelRightBoxListText{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
	float: left;
}

.panelSiteRight .banerBox{
	float: left;
	width: 193px;
}
.panelSiteRight .banerBox .baner{
	float:left;
	margin: 5px 0;
	border: 1px solid #ececec;
	width: 191px;
	height: 250px;
	display: block;
}
/****************************Formularze*****************/

.globalContentForm{
	float: left;
    margin: 0;
    width: 467px;
}
.globalContentForm ul{
   border-top: 1px solid #ECECEC;
    float: left;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 20px 0 0;
    width: 467px;	
}
.globalContentForm li{
	float: left;
    list-style: none outside none;
    padding: 10px 0;
    position: relative;
    width: 467px;
}
.globalContentForm .mainLabel{
   color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width: 130px;
}
.globalContentForm .mainLabelLong{
    line-height: 13px;
    margin-top: 0;	
}
.globalContentForm label.error{
	position: absolute;
	top:-6px;
	left: 140px;
	color: #C90E1A;
    font-size: 10px;
}
.globalContentForm input[type="text"],
.globalContentForm input[type="password"]{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 18px;
    padding: 3px 5px;
    width: 250px;
}

.globalContentForm input[type="submit"],
.globalContentForm input[type="button"]{
    border-radius: 1px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 19px;
    height: 54px;
    line-height: 50px;
    margin: 0 0 0 140px;
    text-align: center;
    width: 260px;
}
.globalContentForm input[type="submit"]:hover,
.globalContentForm input[type="button"]:hover{
	cursor: pointer;
	opacity: 0.8;
}
.globalContentForm input[type="submit"].blueFormSubmit,
.globalContentForm input[type="button"].blueFormSubmit{
    background-color: #0065C0;
    border: 1px solid #004B8F;	
}
.globalContentForm input[type="submit"].pinkFormSubmit,
.globalContentForm input[type="button"].pinkFormSubmit{
    background-color: #E825AD;
    border: 1px solid #BF168C;	
}

.globalContentForm textarea{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 20px;
    height: 200px;
    padding: 0 5px;
    width: 250px;	
}
.globalContentForm select{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 262px;
}
.globalContentForm input[type="checkbox"]{
	float: left;
    margin: 5px 0;
}
.globalContentForm .radioGroupHorizontal{
	float: left;
    margin: 5px 0;
    width: 250px;
}
.globalContentForm .radioGroupHorizontalRow{
	float:left;
	width: 250px;
}
.globalContentForm .radioGroupHorizontalRow label{
	margin: 0 30px 0 5px;
}
.globalContentForm .radioGroupHorizontalRow span{
	display: block;
	width: 50%;
	float: left;
}
.globalContentForm .checkBoxGroup {
    float: left;
    line-height: 30px;
    padding: 0;
    width: 262px;
}
.globalContentForm .checkBoxGroup input[type="checkbox"] {
    float: left;
    margin: 5px 0;
}
.globalContentForm .checkBoxGroup label {
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 10px;
}

/**********************************Aktualizacja danych******************/
.updateAccForm{}

/***********************************Zdjęcia*****************************************************/

.fotoEditBox{}

.fotoEditBox ul.fotoList{
    clear: both;
    float: left;
    list-style: none;
    margin: 0;
    min-height: 100px;
    width: 467px;	
}
.fotoEditBox ul.fotoList li{
    float: left;
    list-style: none;
    margin: 5px 5px 20px 5px;
    height: 120px;
    width: 79px;
}
.fotoEditBox ul.fotoList li img{
	border-bottom: 3px solid #fff;	
}
.fotoEditBox ul.fotoList li a{
	display: block;
	width: 79px;
	text-align: center;
	color: #0065C0;
	font-size: 10px;
}
.fotoEditBox .fotoListBox{
	float: left;
	width: 467px;
	margin: 50px 0 0 0;
}

/****************************************Notatki*****************************************************/

.notesBox{}

.notesBox .panelNotesList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin-top: 0;
}
.notesBox .panelNotesList li{
	float: left;
	width: 467px;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 34px;	
	border-bottom: 1px solid #ECECEC;
}
.notesBox .panelNotesList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.notesBox .panelNotesList li:nth-child(2n){
	background-color: #f3f3f3;
}
.notesBox .panelNotesList img{
	float: left;
	margin: 15px 7px 0 10px
}
.notesBox .panelNotesList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.notesBox .panelNotesList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}

/****************************************Powiadomienia****************************************************/

.noticeBox{}

.noticeBox .panelNoticeList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin-top: 0;
}
.noticeBox .panelNoticeList li{
	float: left;
	width: 467px;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 34px;	
	border-bottom: 1px solid #ECECEC;
}
.noticeBox .panelNoticeList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.noticeBox .panelNoticeList li:nth-child(2n){
	background-color: #f3f3f3;
}
.noticeBox .panelNoticeList img{
	float: left;
	margin: 15px 7px 0 10px
}
.noticeBox .panelNoticeList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.noticeBox .panelNoticeList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}
/*************************Wiadomości premiowane***********************************/

.premMessageBox{}

.premMessageBox .premMessageList{
	float: left;
	width: 467px;	
	list-style: none;
}
.premMessageBox .premMessageList li{
	padding: 0;
	float: left;
	width: 135px;
	margin: 0 25px 0 0;	
}
.premMessageBox .premMessageList li:first-child{
	margin-left:10px;
}
.premMessageBox .premMessageList li:last-child{
	margin:0;
}
.premMessageBox .premMessageListHeader{
	float: left;
	width: 135px;
	margin-bottom: 10px;	
}
.premMessageBox .premMessageListDate{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: left;
	line-height: 20px;	
	display: block;
	width: 135px;	
}
.premMessageBox .premMessageListHeader{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
	font-weight: bold;
} 
.premMessageBox .premMessageListText{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
}

/******************************* Uzytkownicy online *********/

.onlineUserBox{}

.onlineUserBox .onlineUsersList{
	float: left;
	width: 467px;
	list-style:none;	
}
.onlineUserBox .onlineUsersList li{
	float: left;
	width: 79px;
	margin: 0 7px;
	text-align: center;	
}
.onlineUserBox .onlineUsersList li img{
	border-bottom: 3px solid #E825AD;
	float: left;
}
.onlineUserBox .onlineUsersList li span{
	color: #E825AD;
    font-size: 12px;
    margin: 0;
    padding:0;
    font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
    float: left;
    display: block;
    width: 79px;
}

/**************************************Nowi użytkownicy*******/

.newUserBox{}

.newUserBox .newUsersList{
	float: left;
	width: 467px;
	list-style:none;	
}
.newUserBox .newUsersList li{
	float: left;
	width: 79px;
	margin: 0 7px;
	text-align: center;	
}
.newUserBox .newUsersList li img{
	border-bottom: 3px solid #E825AD;
	float: left;
}
.newUserBox .newUsersList li span{
	color: #E825AD;
    font-size: 12px;
    margin: 0;
    padding:0;
    font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
    float: left;
    display: block;
    width: 79px;
}

/***************** Lista wiadomości***********************/

.messageBox{}

.messageBox .messageList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin: 0;
	padding: 0;
}
.messageBox .messageList li{
	float: left;
	width: 467px;
	line-height: 34px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
}
.messageBox .messageList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.messageBox .messageList li:nth-child(2n){
	background-color: #f3f3f3;
}
.messageBox .messageList img{
	float: left;
	margin: 4px 7px 0 10px;
	width: 20px;
	height: 25px;
}
.messageBox .messageList a.messageListTitle{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.messageBox .messageList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}

/*******************Lista kontaktów*********************/

.myContactsBox{}

.myContactsBox .myContactsUsersList{
	float: left;
    list-style: none outside none;
    width: 467px;
}
.myContactsBox .myContactsUsersList li{
    float: left;
    margin: 0 7px 20px 7px;
    text-align: center;
    width: 79px;
}
.myContactsBox .myContactsUsersList li img{
    border-bottom: 3px solid #E825AD;
    float: left;
}
.myContactsBox .myContactsUsersList li span{
    color: #E825AD;
    display: block;
    float: left;
    font-family:'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 79px;
}

/*****************Oczka******************/

.blinksBox{}

.blinksBox .blinksList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin-top: -15px;
}
.blinksBox .blinksList li{
	float: left;
	width: 467px;
	height: 34px;
	line-height: 34px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
}
.blinksBox .blinksList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.blinksBox .blinksList li:nth-child(2n){
	background-color: #f3f3f3;
}
.blinksBox .blinksList img{
	float: left;
	margin: 4px 7px 0 10px;
	width: 20px;
	height: 25px;
}
.blinksBox .blinksList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.blinksBox .blinksList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}

/********Historia kontaktów********/

.historyContactBox{}

.historyContactBox .historyContactList{
	float: left;
    list-style: none outside none;
    width: 467px;
}
.historyContactBox .historyContactList li{
    float: left;
    margin: 0 7px 20px 7px;
    text-align: center;
    width: 79px;
}
.historyContactBox .historyContactList li img{
    border-bottom: 3px solid #E825AD;
    float: left;
}
.historyContactBox .historyContactList li span{
    color: #E825AD;
    display: block;
    float: left;
    font-family:'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 79px;
}

/***********Ulubione profile*******************/

.favouritesBox{}

.favouritesBox .favouritesList{
	float: left;
    list-style: none outside none;
    width: 467px;
}
.favouritesBox .favouritesList li{
    float: left;
    margin: 0 7px 20px 7px;
    text-align: center;
    width: 79px;
}
.favouritesBox .favouritesList li img{
    border-bottom: 3px solid #E825AD;
    float: left;
}
.favouritesBox .favouritesList li span{
    color: #E825AD;
    display: block;
    float: left;
    font-family:'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 79px;
}

/******* Zablokowane profile *********/

.blockedBox{}

.blockedBox .blockedList{
	float: left;
    list-style: none outside none;
    width: 467px;
}
.blockedBox .blockedList li{
    float: left;
    margin: 0 7px 20px 7px;
    text-align: center;
    width: 79px;
}
.blockedBox .blockedList li img  {
    border-bottom: 3px solid #E825AD;
    float: left;
}
.blockedBox .blockedList li span{
    color: #E825AD;
    display: block;
    float: left;
    font-family:'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 79px;
}

/********Ogłoszenia lista  podstrona********/

.adsMidBox{}

.adsMidBox .adsFormShowBox,
.adsMidBox .adsFormAddBox,
.adsMidBox .adsMyShowBox{
	float: left;
	width: 467px;
	clear: both;	
}
.adsMidBox .adsMyShowBox{
	margin-top: 50px;
}
.adsMidBox .adsFormAddBox{
	margin-top: 20px;
}
.adsMidBox .adsFormShowRow{
	float: left;
}
.adsMidBox .adsFormShowTitle,
.adsMidBox .adsFormAddTitle,
.adsMidBox .adsFormShowGroup label,
.adsMidBox .adsFormAddGroup label{
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
}
.adsMidBox .adsFormAddTitle{
	font-weight: bold;
}
.adsMidBox .adsFormShowGroup{
	padding: 0 5px;
	float: left;
}
.adsMidBox .adsFormAddGroup{
	padding: 0 10px;
	float: left;
}
.adsMidBox .adsFormAddRow{
	float: right;
}
.adsMidBox .adsFormShowGroup input[type="radio"],
.adsMidBox .adsFormAddGroup input[type="radio"]{
	float: left;
	margin: 6px 2px 0 0;
	
}
.adsMidBox .adsFormShowList,
.adsMidBox .adsMyShowList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin:10px 0 0 0;
}
.adsMidBox .adsFormShowList li,
.adsMidBox .adsMyShowList li{
	float: left;
	width: 467px;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 34px;	
	border-bottom: 1px solid #ECECEC;
}
.adsMidBox .adsFormShowList li:first-child,
.adsMidBox .adsMyList li:first-child{
	border-top: 1px solid #ECECEC;
}
.adsMidBox .adsFormShowList li:nth-child(2n),
.adsMidBox .adsMyList li:nth-child(2n){
	background-color: #f3f3f3;
}
.adsMidBox .adsFormShowList a,
.adsMidBox .adsMyList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.adsMidBox .adsFormShowList span,
.adsMidBox .adsMyList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}
.adsMidBox .adsFormSubmit{
    border-radius: 1px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 85px;
    background: url("/public/images/pageBg/.png") no-repeat scroll 8px 8px #0065C0;
    border: 1px solid #004B8F;
    margin-right: 0;
}
.adsMidBox .adsFormSubmit:hover{
	opacity: 0.8;
	cursor: pointer;
}
/*******************Ogłoszenia dodawanie nowego formularz*******************************/

.adsAddBox{}

/******************************Zaproszenia********/

.invitationsBox{}

.invitationsBox .invitationsList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin: 0;
	padding: 0;
}
.invitationsBox .invitationsList li{
	float: left;
	width: 467px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
	padding: 20px 0;
}
.invitationsBox .invitationsList li:last-child{
	border-bottom: none;
}
.invitationsBox .invitationsList img{
	float: left;
	border-bottom: 3px solid #E825AD;
    float: left;
}
.invitationsBox .invitationsList a{
	color: #E825AD;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    clear: right;
    float: left;  
}
.invitationsBox .invBtnBlue{
	border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 85px;
    background: url("/public/images/pageBg/.png") no-repeat scroll 8px 8px #727272;
    border: 1px solid #969696;
    margin-right: 0;
}
.invitationsBox .invBtnBlue:hover{
	opacity:0.8;
	cursor: pointer;
}
.invitationsBox .invitationsBoxContent{
    float: left;
    margin: 0 0 0 24px;
    width: 290px;
}
/********************** Historia konatktów - szczegóły**********************/

.historyDetailsBox{}

.historyDetailsBox .historyDetailsBoxContent{
    float: left;
    margin: 0 0 0 24px;
    width: 290px;
}
.historyDetailsBox .historyDetailsBoxContent img{
	float: left;
	border-bottom: 3px solid #E825AD;
    float: left;
}
.historyDetailsBox .historyDetailsBoxContent a{
	color: #E825AD;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    clear: right;
    float: left; 
}
.historyDetailsBox .historyDetailsList{
	float: left;
	width: 467px;
	margin:20px 0 0 0;
	list-style: none;
	border-top: 1px solid #ECECEC;
}
.historyDetailsBox .historyDetailsList li{
	float: left;
	width: 467px;
	margin:0;
	padding: 0;
	height: 34px;
	line-height: 34px;	
	border-bottom: 1px solid #ECECEC;
}
.historyDetailsBox .historyDetailsList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.historyDetailsBox .historyDetailsList li:nth-child(2n){
	background-color: #f3f3f3;
}
.historyDetailsBox .historyDetailsList img{
	float: left;
	margin: 15px 7px 0 10px
}
.historyDetailsBox .historyDetailsList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.historyDetailsBox .historyDetailsList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}
.historyDetailsBox .historyDetailsUserName{
	font-size: 28px;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	font-weight: normal;
	margin: -5px 0 5px 0;
	padding:0;
	color: #e825ad;
}
.historyDetailsBox  .historyDetailsFotoUser{
	float: left;
	border-bottom: 3px solid #E825AD;
	width: 150px;
	height: 187px;
}
.historyDetailsBox  .historyDetailsUserTxtTop{
	width: 210px;
	float: left;
	display: block;
	font-size: 13px;
	font-family: Calibri;
	margin: 5px  0 0 0;	
}

/***************************Widok użytkownika*********************************************/

.panelViewUser{
	float: left;
	width: 663px;
	margin-left:40px;
}
.panelViewUser .viewFotoUser{
	float: left;
	width: 150px;
	height: 190px;
}
.panelViewUser .viewUserBoxFemale .viewFotoUser{
	border-bottom: 3px solid #E825AD;
}
.panelViewUser .viewUserBoxMale .viewFotoUser{
	border-bottom: 3px solid #0065C0;
}
.panelViewUser .viewUserBox{
	float: left;
	width: 663px;
}
.panelViewUser .viewUserBoxLeft{
	float: left;
	width: 210px;
	margin:0 0 0 24px;
}
.panelViewUser .viewUserBoxRight{
	float: left;
	width: 250px;
	margin:0 0 0 29px;
}
.panelViewUser .viewUserName{
	font-size: 28px;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	font-weight: normal;
	margin: -5px 0 5px 0;
	padding:0;
}
.panelViewUser .viewUserBoxFemale .viewUserName{
	color: #e825ad;
}
.panelViewUser .viewUserBoxMale .viewUserName{
	color: #0065C0;
}
.panelV/iewUser .viewU/serBtn{
	background: url("/pageBg/rightBtnIcon.png") no-repeat scroll 18px 24px #E825AD;
    border: 1px solid #BF168C;
    width: 145px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    margin: 0 0 10px 0;
    font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
}
.panelViewUser .viewUserTxtTop{
	width: 210px;
	float: left;
	display: block;
	font-size: 13px;
	font-family: Calibri;
	margin: 5px  0 0 0;	
}
.panelViewUser .viewUserLabelLeft{
	float: left;
	width: 250px;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold; 
}
.panelViewUser .viewUserBoxFemale  .viewUserLabelLeft{
		color: #e82baf;
}
.panelViewUser .viewUserBoxMale  .viewUserLabelLeft{
		color: #0065C0;
}
.panelViewUser .viewUserListTop{
	float: left;
	width: 250px;
	list-style: none;
	margin:10px 0 0 0;
	padding:0;
}
.panelViewUser .viewUserListTop li{
	float: left;
	width: 225px;
	list-style: none;
	margin:6px 0;
	padding:0 0 0 25px;	
	color: #000;
	font-size: 14px;
	height: 18px;
	line-height; 18px;
	font-family: Calibri;
}
.panelViewUser .viewUserBoxFemale .viewUserListTop li{
	background: url("/public/images/pageBg/seklectIconPink.png") no-repeat scroll 0 0;
}
.panelViewUser .viewUserBoxMale .viewUserListTop li{
	background: url("/public/images/pageBg/seklectIconBlue.png") no-repeat scroll 0 0;
}
.panelViewUser .viewUserMenu {
	margin:20px 0;
	padding:0;
	width: 663px;
	float: left;
	clear: both;
}
.panelViewUser .viewUserMenu ul{
	list-style: none;
	margin:0;
	padding:0;
	width: 663px;
	float: left;
	height: 35px;
}
.panelViewUser .viewUserMenu ul li{
	float: left;
	width: 127px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ececec;	
	border-top: 1px solid #ececec;
	margin: 0 2px;
	text-align: center;	
}
.panelViewUser .viewUserMenu ul li span{	
	font-size: 12px;
	font-family: Calibri;	
}
.panelViewUser .viewUserBoxFemale  .viewUserMenu ul li span{
	color: #e825ad;
}
.panelViewUser .viewUserBoxMale  .viewUserMenu ul li span{
	color: #0065C0;
}
.panelViewUser .viewUserMenu ul li span:hover{
	cursor: pointer;
	text-decoration: underline;
}

.panelViewUser .viewHeader{
	float: left;
	width: 663px;
	margin: 0;
	padding:0;
	text-align: center;
	font-size: 24px;
	color: #000;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
}
.panelViewUser .viewHeaderInfo{
	float: left;
	width: 663px;
	display: block;
	margin: 0;
	padding:0;
	text-align: center;
	font-size: 11px;
	color: #000;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
}

/********************** Galeria użytkownika***********************************************/

.panelViewUser .viewGalleryBox{
	float: left;
	width: 663px;
	clear: both;
	margin: 0 0 20px 0;
}
.panelViewUser .viewGalleryBoxContent{
	float: left;
	width: 663px;
	clear: both;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ECECEC;		
}
.panelViewUser .viewGalleryList{
	list-style: none;
	margin:35px 14px 0 13px;
	padding:0;
	float: left;
	width: 612px;
	height: 100px;
	overflow: hidden;
}
.viewGalleryListContent{
	height: 100px; 
	width: 10000px; 
	left:0px; 
	position: relative;
}
.panelViewUser .viewGalleryList li{
	list-style: none;
	margin:0;
	padding:0;
	float: left;
	height: 100px;
	margin:0 7px;
	background: url("/public/images/pageBg/zoomIcon.png") no-repeat scroll center center;
}
.panelViewUser .viewGalleryList li img{
	width: 140px;
	height: 100px;
}
.panelView/User .viewGaller/yList li:hover{
	background: url("/public/images//pageBg/zoomIcon.png") no-repeat scroll center center;
	cursor: pointer;
}
.panelViewUser .viewUserBoxFemale .viewGalleryList li:hover{
	background: url("/public/images/pageBg/zoomIconPink.png") no-repeat scroll center center;
	cursor: pointer;
}
.panelViewUser .viewUserBoxMale .viewGalleryList li:hover{
	background: url("/public/images/pageBg/zoomIconBlue.png") no-repeat scroll center center;
	cursor: pointer;
}
.panelViewUser .viewUserBoxFemale .viewGalleryList li img:hover{
	background: url("/public/images/pageBg/zoomIconPink.png") no-repeat scroll center center;
	opacity:0.2;
}
.panelViewUser .viewUserBoxMale .viewGalleryList li img:hover{
	background: url("/public/images/pageBg/zoomIconBlue.png") no-repeat scroll center center;
	opacity:0.2;
}
.panelViewUser .viewGalleryNextBtn{
	width: 11px;
	height: 28px;
	display: block;
	overflow: hidden;
	text-indent: -1000px;
	background: url("/public/images//pageBg/galleryPrevNActiv.png") no-repeat scroll 0 0;
	float: left;
	margin-top: 90px;
}
.panelViewUser .viewGalleryPrevBtn{
	float: right;
	width: 11px;
	height: 28px;
	display: block;
	margin-top: 90px;
	overflow: hidden;
	text-indent: -1000px;
	background: url("/public/images/pageBg/galleryNextActivPink.png") no-repeat scroll 0 0;	
}
.panelViewUser .viewGalleryNextBtn:hover,
.panelViewUser .viewGalleryPrevBtn:hover{
	opacity:0.5;
	cursor: pointer;
}
.panelViewUser .viewGalleryPagination{
	float: left;
	clear: both;
	width:363px;
	padding: 0 0 0 300px;
	height: 9px;
	margin: 15px 9px;
}
.panelViewUser .viewGalleryPaginStep{
	float: left;
	display: block;
	text-indent:-1000px;
	overflow:hidden;
	width: 7px;
	height: 7px;
	background: url("/public/images/pageBg/galleryPagin.png") no-repeat scroll 0 0;
	margin:1px 2px;	
}
.panelViewUser .viewGalleryPaginStepActiv{
	width: 9px;
	height: 9px;
	background: url("/public/images/pageBg/galleryPaginA.png") no-repeat scroll 0 0;
	margin:0 2px;		
}

/********************************Informacje szczegółowe o użytkowniku ********************************************/

.panelViewUser .viewAboutMeBox{
	float: left;
	width: 663px;
	clear: both;
}
.panelViewUser .viewAboutMeTxt{
	width: 663px;
	float: left;
		color: #000;
	font-size: 14px;
	line-height: 18px;
	font-family: Calibri;
	margin-top: 30px;
	padding-bottom: 30px;	
}
.panelViewUser .viewAboutMeListBox{
	border-top: 1px solid #ECECEC;		
	margin:0 0 0 -12px;
	padding:0;
	float: left;
	width: 687px;
}
.panelViewUser .viewAboutMeList{
	list-style: none;
	margin:0;
	padding:0;
	float: left;
	width: 720px;
}
.panelViewUser .viewAboutMeList li{
	float: left;
	width: 318px;
	padding: 12px 0 12px 12px;
	margin: 0 28px 0 0;
	border-bottom: 1px solid #ECECEC;	
	height: 40px;
}
.panelViewUser .viewAboutMeList li p{
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-family: Calibri;	
}
.panelViewUser .viewAboutMeList li p b{
	display: block;
	float: left
}
.panelViewUser .viewAboutMeList li p span{
	display: block;
	width: 50%;
	float: left
}


/****************/
.findUserBox{
	float: left;
	width: 467px;
	clear: both;	
}
.findBox{
    float: left;
    margin: 0 0 0 24px;
    width: 290px;
}

.findList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin: 0;
	padding: 0;
}
.findList li{
	float: left;
	width: 467px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
	padding: 20px 0;
}
.findList li:last-child{
	border-bottom: none;
}
.findList img{
	float: left;
	border-bottom: 3px solid #E825AD;
    float: left;
}
.findList a{
	color: #E825AD;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    clear: right;
    float: left; 
}

/****************/
.searchSort{
	float: left;
	width: 467px;
	clear: both;
	margin: -5px 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ECECEC;
}
.serchResult{
	float: left;
	width: 467px;
	clear: both;	
}
.searchSortForm{
	float: left;
	width: 467px;
}
.searchSortLabel{
	float: left;
   color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
}
.searchSortLabelNr{
	margin: 0 0 0 100px;	
}
.searchSortSelect{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 212px;
}
.searchSortNrSelect{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 50px;	
}
.searchType{
	float: left;
	width: 447px;
	padding: 10px;
	margin: 10px 0 30px 0;
	background-color:#ECECEC;
}
.searchType ul{
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 427px;
}
.searchType ul li{
	margin: 0;
	padding:10px  0;
	float: left;
	width: 447px;
}
.searchType h3{
	color: #000000;
    float: left;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    width: 190px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
}
.searchType h4{
	color: #000000;
    float: left;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin:0;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    width: 128px;
}
.searchTypeHeader{
	float: left;
	width: 257px;
}
.searchType h4.searchTypeHeaderSelected{
	 border: 1px solid #CCCCCC;
	 background-color: #fff;
	 border-bottom: none;
	 width: 127px;
}
/****************/
.simpleSearch{
	float: left;
	width: 425px;
	padding: 10px;
	clear: both;
	background-color: #fff;
	border: 1px solid #CCCCCC;
	border-top:none; 
}
.simpleSearchFormLabel{
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width: 130px;
}

.simpleSearchFormLabelLong {
    line-height: 13px;
    margin-top: 0;
}
.simpleSearchFormLabelShort{
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: left;
    width: 10px;
}
.simpleSearchFormSelectShort{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    margin-right: 40px;
    width: 60px;
}
.simpleSearchFormSelect{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 200px;
}
.simpleSearchGroupCheckbox {
    float: left;
    line-height: 30px;
    padding: 0;
    width: 200px;
}
.simpleSearchGroupCheckbox label {
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 175px;
}

.simpleSearchGroupCheckbox input[type="checkbox"] {
    float: left;
    margin: 5px 0;
}
.simpleSearchFormInputSubmit{
	border-radius: 1px;
    color: #FFFFFF;
    display: block;
    float: left;
    text-align: center;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px 140px;
    width: 145px;
}
.simpleSearchFormInputSubmit:hover{
	opacity: 0.8;
	cursor: pointer;
}
.simpleSearchFormInputSubmitBlue{
	background: url("/pageBg/rightBtnIcon.png") no-repeat scroll 18px 24px #0065C0;
    border: 1px solid #004B8F;
}
.searchType > a:last-child{
	float: left;
	margin-left: 0;
}
/************************** szczegóły wiadomośc oraz odpowiedź**********************************************************/

.repMessageBox{}

.repMessageBox {
	float: left;
	width: 467px;
}
.repMessageBox ul{
	list-style: none;
	float: left;
	width: 467px;
	margin-bottom: 50px;
}
.repMessageBox ul li{
	float: left;
	width: 467px;
}
.repMessageBox ul li img{
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 5px 0 0;
}
.repMessageBox ul li p{
	float: left;
}
