@font-face
{
	font-family: KozGoPr6N-Regular;
	src: url('/public/fonts/KozGoPr6N-Regular.otf');
} 
@font-face
{
	font-family: KozGoPr6N-Bold;
	src: url('/public/fonts/KozGoPr6N-Bold.otf');
} 
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
  border: 0;
  padding: 0;
}
.clearfix {
	clear: both;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
} 
#messageWindowContainer
{
	display: none;
}

#messageWindowFog
{
	background-color: #000;
	opacity:0.8;
	width: 100%;
	height: 100%;
	position: fixed;
	
	left: 0px;
	top: 0px;
}

#messageWindow
{
	top: 10px;
	width: 400px;
	height: 100px;
	position: fixed;
	border-radius: 3px;
}
.messageText{
	width: 400px;
	height: 100px;
}
.messageSendButton{
	border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 77px;
        background-color:#0065C0;
    border: 1px solid #004B8F;
    margin:10px 0;
    text-indent: 12px;
}
.messageSendButton:hover{
	cursor: pointer;
	opacity: 0.8;	
}
.messageCloseBtn{
	padding: 0;
	margin: 2px 0;
	float: right;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
}
.messageCloseBtn:hover{
	cursor: pointer;
	opacity: 0.8;
}
body {
	padding:0;
	margin:0;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	font-size: 14px;
	color: #0a111b;
	text-align:left;
	background-color: #ececec;
}

.separator{
	float: left;
	width: 1px;
	height: 18px;
	background-color: #bebebe;
	margin: 0 5px;
}
.site{
	margin: 0 auto;
	width: 1000px;
	min-height: 500px; 
}
.header{
	width: 1000px;
	float: left;
	hei/ght: 172px;
	clear: both;
}
.headerLeft{
	float: left;
	padding: 10px 0;	
}
.headerUserInfo{
	color: #1e1e1e;
	font-size: 13px;
	font-family: Calibri;
	float: left;
}
.headerLoginLink{
	color: #1e1e1e;
	font-size: 13px;
	font-family: Calibri;
	float: left;	
}
.colorFontPink{
	color: #E926AE;
}
.colorFontBlue{
	color: #0065C0;
}
.headerRight{
	float: right;
}
.headerLabel{
	color: #1e1e1e;
	font-size: 13px;
	font-family: Calibri;
	float: left;
	margin: 10px;	
}
.headerBtns{
	width: 77px;
	height: 28px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	float: left;
	display: block;
	margin: 5px 3px;
	font-size: 12px;
	border-radius: 1px;
}
.headerBtns:hover,
.accBtns:hover,
.headerBtnSearchBlue:hover{
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
}
.headerBtnPink{
	border: 1px solid #bf168c;
	background: #e825ad url('/public/images/pageBg/headerBtnPieknaBg.png') no-repeat 12px 8px;
	text-indent: 10px;
}
.headerBtnBlue{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
}
.headerBtnSearchBlue{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/searchIconBlue.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;	
}
.headerBtnAccBlue{
	border: 1px solid #004b8f;
	background-color: #0065c0;
	margin-right: 0;

}
.headerBtnLogoutBlue{
	border: 1px solid #004b8f;
	background-color: #0065c0;
	margin-right: 0;

}
.pibLoginMenu{
	float: left;
	wid/th: 167px;
}
.pibLoginMenu ul{
	list-style: none;
	margin:0;
	padding: 0;	
	float: left;
}
.pibLoginMenu li{
	float: left;
}
.pibLoginMenu li a{
	list-style: none;
	margin:0;
	padding: 0;	
	wi/dth: 77px;
	width: 50px;
	height: 28px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	float: left;
	display: block;
	margin: 5px 3px;
	font-size: 12px;
	border-radius: 1px;
}

.pibLoginMenu li:nth-child(1) a{
	border: 1px solid #bf168c;
	background: #e825ad url('/public/images/pageBg/headerBtnPieknaBg.png') no-repeat 12px 8px;
	text-indent: 10px;
}
.pibLoginMenu li:nth-child(2) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
}
.pibLoginMenu li:nth-child(3) a{
	border: 1px solid #bf168c;
	background: #e825ad url('/public/images/pageBg/headerBtnPieknaBg.png') no-repeat 12px 8px;
	text-indent: 10px;
	width: 100px;
}
.pibLoginMenu li:nth-child(4) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
	width: 120px;
}
.pibLoginMenu li:nth-child(5) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
	width: 120px;
}
.pibLoginMenu li:nth-child(6) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
}
.logoHeader{
	width: 1000px;
	float: left;
	background-color: #fff;
	margin:0;
	padding:0;
}
.logo{
	width: 315px;
	height: 48px;
	background: url('/public/images/pageBg/logo.png') no-repeat 0 0;
	float: left;
	text-indent: -2000px;
	overflow: hidden;
	margin: 25px 342px 10px 342px;
}
.logoTxt{
	font-size: 18px;
	color: #aeaeae;
	float: left;
	width: 1000px;
	text-align: center;
	font-style: italic;
	font-family: 'Georgia',arial;
	padding: 0 0 30px 0;
	margin:0;
	background-color: #fff;
}
.content{
	width: 1000px;
	float: left;
	min-height: 500px; 
	background-color: #fff; 
	clear: both;		
}
.accBox{
	float: left;
	margin: 0 18px 10px 18px;
    width: 964px;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    clear: both;
}
.leftAcc{
	float: left;
	min-height: 100px;
	width: 444px;
	margin: 0;	
	padding:0 38px 5px 0;
	background: url('/public/images/pageBg/accLeftBg.png') no-repeat bottom left;
}
h2.accHeader{
	font-size: 30px;
	line-height: 50px;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	padding: 0;
	margin: 20px 0;	
}
.leftAcc h2.accHeader{
	text-align: right;
	color: #e926ae;

}
.rightAcc{
	float: right;
	min-height: 100px;
	width: 444px;
	margin: 0;	
	padding:0 0 5px 38px; 
	background: url('/public/images/pageBg/accRightBg.png') no-repeat bottom right;	
}
.rightAcc h2.accHeader{
	text-align: left;
	color: #0065c0;
}
.accBtns{
	width:183px;
	height: 54px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	float: left;
	display: block;
	margin: 0;
	font-size: 19px;
	border-radius: 1px;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	
}
.accBtns span{
	position: absolute;
	bottom: -15px;
	left: 65px;
	font-size: 12px;
}
.accBtnLeft{
	border: 1px solid #bf168c;
	background-color: #e825ad;
	float: right;
	background: #e825ad url('/public/images/pageBg/leftBtnIcon.png') no-repeat 18px 24px;
	position: relative;
}
.accBtnRight{
	border: 1px solid #004b8f;
	background-color: #0065c0;
	float: left;
	background: #0065c0 url('/public/images/pageBg/rightIconBtn.png') no-repeat 160px 24px;	
	position: relative;
}
.accText{
	color: #1e1e1e;
	font-size: 14px;
	line-height: 18px;	
	font-family: 'calibri';
}
.leftAccText{
	width:210px;
	float: right;
	margin: 20px 0 0 0;
	text-align: right;
	clear: both;
}
.rightAccText{
	width:210px;
	float: left;
	margin: 20px 0 0 0;	
	clear: both;
}
.ourUsers{
	float: left;
	width: 964px;
	margin: 0 18px;
	height: 290px;
	border-bottom: 1px solid #ececec;
	clear: both;
}
.mainSiteHeader{
	color: #1b1b1b;
	font-size: 30px;
	width: 964px;
	text-align: center;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	margin-top: 30px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	font-weight: normal;
}
.subMainSiteHeader{
	color: #1b1b1b;
	font-size: 17px;
	width: 964px;
	text-align: center;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	margin: 5px 0 45px 0;
	height: 20px;
	line-height: 20px;
	padding: 0;	
	font-weight: normal;
}
.usersListLeft{
	float: left;
	width: 472px;
	margin:0;
	padding: 0;
	height: 124px;
}
.usersListLeft li{
	width:79px;
	float: right;
	height: 124px;
	margin: 0 10px 0 9px;
	padding:0;
	list-style: none;
	text-align: center;
}
.usersListLeft li img{
	border-bottom: 3px solid #e825ad;
}
.usersListLeft li span{
	font-size: 12px;
	color: #e825ad;
}
.usersListLeft li:first-child{
	margin-right:0;
}
.usersListLeft li:last-child{
	margin-left:0;
}
.usersListRight{
	float: right;
	width: 472px;
	margin:0;
	padding:0;
	height: 124px;
}
.usersListRight li{
	width:79px;
	float: left;
	height: 124px;
	margin: 0 10px 0 9px;
	padding:0;
	list-style: none;
	text-align: center;
}
.usersListRight li img{
	border-bottom: 3px solid #0065c0;
}
.usersListRight li span{
	color: #0065c0;
	font-size: 12px;
}
.usersListRight li:first-child{
	margin-left:0;
}
.usersListRight li:last-child{
	margin-right:0;
}
.whyBox{
	float: left;
	width: 964px;
	margin: 0 18px;
	border-bottom: 1px solid #ececec;
	clear: both;
}
.whyBoxLeft{
	float: left;
	width: 446px;
	padding: 0 28px 0 0 ;
	margin: 0  0 0 8px;		
	text-align: right;
}
.whyBoxLeft ul{
	list-style-image: url('/public/images/pageBg/dotPink.png');
	width: 431px;
	float: left;
	margin-left: 15px;
}
.whyBoxLeft h4{
	float: left;
	width: 446px;
	margin: 30px 0 10px 0;
	color: #e926ae;
	font-size: 18px;
	height:30px;
	font-weight: normal;
}
.whyBoxLeft ul li{
	font-size: 14px;
	line-height: 18px;	
	font-family: 'Calibri';
	color: #1e1e1e;	
	margin: 15px 0;
}
.whyBoxRight{
	float: right;
	width: 446px;
	margin: 0 8px 0 0;
	padding: 0  0 0 28px;
}
.whyBoxRight ul{
	list-style-image: url('/public/images/pageBg/dotBlue.png');
		width: 431px;
	float: left;
	margin-left: 15px;
}
.whyBoxRight ul li{
	font-size: 14px;
	font-family: 'Calibri';
	line-height: 18px;
	color: #1e1e1e;	
	margin: 15px 0;
}
.whyBoxRight h4{
	float: left;
	width: 426px;
	margin: 30px 0 10px 0;
	color: #0065c0;
	font-size: 18px;	
	height:30px;
	font-weight: normal;	
}
.refBox{
	float: left;
	width: 964px;
	margin: 0 18px 40px 18px;
	height: 445px;
}
.refBoxTxt{
	font-family: 'Calibri';
	color:#1e1e1e;
	font-size:14px;
	font-style: italic;
	line-height: 20px;		
}
.refBoxLeftTop{
	float: left;
	width:450px;
	background: url('/public/images/pageBg/refIconLeft.png') no-repeat 390px 20px;
	margin: 0 0 30px 30px;	
}
.refBoxLeftToPMid{
	margin: 0 60px 0 0;
	float: left;
	width: 350px;
	background-color: #f0f0f0;
	padding: 20px;
	border-bottom: 3px solid #e2e2e2;
}

.refBoxRightTop{
	float: left;
	width:400px;
	background: url('/public/images/pageBg/refIconRight.png') no-repeat 0 60px;	
	margin: 0 0 30px 30px;		
}
.refBoxRightTopMid{
	margin: 0 0 0 46px;
	float: left;
	width: 320px;
	padding: 20px;
	background-color: #f0f0f0;
	border-bottom: 3px solid #e2e2e2;
}
.refBoxLeftBottom{
	float: left;
	width:400px;
	background: url('/public/images/pageBg/refIconLeft.png') no-repeat 340px 30px;
	margin: 0 10px 0 54px;		
}
.refBoxLeftBottomMid{
	margin: 0 60px 0 0;
	float: left;
	width: 300px;
	background-color: #f0f0f0;
	padding: 20px;
	border-bottom: 3px solid #e2e2e2;
}

.refBoxRightBottom{
	float: left;
	width:420px;
	background: url('/public/images/pageBg/refIconRight.png') no-repeat 0 50px;	
	margin: 0 0 30px 50px;		
}
.refBoxRightBottomMid{
	margin: 0 0 0 46px;
	float: left;
	width: 340px;
	padding: 20px;
	background-color: #f0f0f0;
	border-bottom: 3px solid #e2e2e2;
}
.refBoxSign{
	float: right;
	font-size: 12px;
}
.refBoxRightTop .refBoxSign,
.refBoxRightBottom .refBoxSign{
	color: #0065C0;
}
.refBoxLeftTop .refBoxSign,
.refBoxLeftBottom .refBoxSign{
	color: #E926AE;
}

.footer{
	width: 1000px;
	float: left;
	clear: both;
}

.menuFooter{
	width: 1000px;
	float: left;
	height: 67px;
	border-bottom: 1px solid #d2d2d2;
}
.menuFooterList{
	float: left;
	width: 460px;
	margin: 0 270px;
	list-style: none;
	height: 67px;
	line-height:67px;
	color: #747474; 
}
.menuFooterList li{
	float: left;
	padding: 0 18px;	
}
.menuFooterList li a{
	color: #494949;
	font-size: 13px; 
	font-family: 'Calibri';	
}
.copyRights{
	float: left;
	width: 1000px;
	height: 100px;
	margin: 25px 0;
	text-align: center;
}
.copyRights img{
	margin: 15px 399px 10px 399px;
	float: left;
}
.copyRights span{
	color: #494949;
	font-size: 13px; 
	font-family: 'Calibri';
	margin: 0;
	line-height: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 0 auto;
	text-align: center;
	width: 1000px;
}
.copyRights span a{
	color: #494949;
	font-size: 13px; 
	font-family: 'Calibri';	
}
.registerSite{
	float: left;
	width: 100%;
	border-top: 1px solid #ECECEC;
    float: left;
    margin: 0 18px;
    width: 964px;
}
.registrationForm{
	margin: 50px 132px;
	width: 700px;
	float:left;
	clear:both;
}
.registrationForm ul{
	list-style: none;
	float: left;
	width: 700px;
}
.registrationForm ul li{
	list-style: none;
	float: left;
	width: 700px;
	padding: 20px 0;
	position: relative;
}
.regFormHeaderLabel{
	float: left;
	width: 200px;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 0;
	text-align: right;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}
.regFormHeaderLabelLong{
	line-height: 20px;
	margin-top: -5px;
}
.regFormGroupRadio{
	float: left;
	width: 430px;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.regFormGroupRadio label{
	padding: 0 0 0 20px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    line-height: 30px;	
    height: 30px;
    margin: 0 40px 0 0;
}
.regFormGroupRadio input[type="radio"]{
	margin: 0 10px 0 -21px;	
}
.regFormGroupCheckbox{
	float: left;
	width: 430px;
	padding: 0;
	line-height: 30px;	
}
.regFormGroupCheckbox label{
	padding: 0 0 0 10px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    line-height: 30px;	
    height: 30px;
    margin: 0 40px 0 0;
}
.regFormGroupCheckbox input[type="checkbox"]{
	margin: 0 10px 0 0;	
}
.regFormInputText{
	width: 358px;
	float: left;
	height: 28px;
	padding: 0 5px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
}
.regFormSelect{
	width: 370px;
	float: left;
	padding: 1px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;	
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;
}
.regFormGroupChekbox{
	float: left;
		color: #494949;
    font-family: 'calibri';
    font-size: 20px;
    padding: 2px 0 0 0;	
}
.regFormInputCheckbox{
	float: left;
	margin: 7px 10px 0 0;
}
.regFormLink{
	color: #AFAFAF;
}
.regFormLinkBlue{
	color: #0065C0;
}
.regFormLinkPink{
	color: #E926AE;
}
.regFormInputSubmit{
	   border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
    font-size: 19px;
    height: 54px;
    line-height: 54px;
    margin: 0;
    text-align: center;
    width: 250px;
    float: left;
    margin: 0 0 0 230px;
}
.regFormInputSubmit:hover{
	opacity:0.8;
	cursor: pointer;
}
.regFormInputSubmitGray{
    backgr/ound: url("/public/images/pageBg/rightIconBtn.png") no-repeat scroll 202px 24px #AFAFAF;
    background-color: #727272;
    border: 1px solid #969696;
} 
.regFormInputSubmitPink{
    backg/round: url("/public/images/pageBg/rightIconBtn.png") no-repeat scroll 202px 24px #E825AD;
    background-color: #E825AD;
    border: 1px solid #BF168C;	
} 
.regFormInputSubmitBlue{ 
    backgr/ound: url("/public/images/pageBg/rightIconBtn.png") no-repeat scroll 202px 24px #0065C0;
    background-color: #0065C0;
    border: 1px solid #004B8F;
}
.regFormTextarea{
	width: 358px;
	float: left;
	height: 200px;
	padding: 0 5px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #494949;
    font-family: 'calibri';
    font-size: 20px;	
}


/***************************************************************/
.panelSite{
	float: left;
	width: 100%;
	border-top: 1px solid #ECECEC;
    float: left;
    margin: 0 18px;
    padding: 35px 0;
    width: 964px;
}
.panelSiteLeft{
	float: left;
	width: 250px;
}
.panelFotoUser{
	float: left;
	margin: 0 16px 0 17px;
	width: 79px;
	height: 97px;
}
.panelFotoUserFemale{
	border-bottom:3px solid #E825AD;
}
.panelFotoUserMale{
	border-bottom:3px solid #004B8F;
}
.panelInfoUser{ 
	float: left;
	width: 138px;
}
.panelUserName{
	color: #000;
	font-size: 18px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;
}
.panelLastDate{
	color: #000;
	font-size: 10px;
	line-height: 18px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;	
}
.panelUserMenu{
	float: left;
	width: 250px;
	list-style: none;
	margin: 30px 0 0 0;
	padding: 0;
	border-top: 1px solid #ececec;
}
.panelUserMenu li{
	float: left;
	width: 216px;
	margin:0;
	padding: 7px 17px;
	border-bottom: 1px solid #ececec;
	background: url('/public/images/pageBg/listIconBlue.png') no-repeat  230px 15px;
	line-height: 20px;
}
.panelUserMenu li a{
	color: #000;
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;		
}
.panelHeader{
	float: left;
	color: #000;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	font-weight: normal;
	margin: 0 0 0 17px;
	padding:0 0 10px 0; 	
}
.panelHeader250{
	width: 250px;
}
.panelHeader467{
	width: 467px;
}
.panelHeader193{
	width: 195px;
}
.panelLink{
	float: right;
	display: block;
	padding: 3px 5px;
	margin: 5px 15px;
	background: url('/public/images/pageBg/nextLinkIcon.png') no-repeat  right 9px;
	font-size: 11px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 12px;
}
.panelLinkLong{
	margin:5px 0 0 0;
	float: left;
	padding: 0;
}
.panelBoxContent{
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	float: left;
	width: 100%;
	padding: 15px 0;
}
.panelWatchBox{
	float: left;
	width: 250px;
	margin: 30px 0 0 0;
}
.panelWatchList{
	float: left;
	padding: 0;
	width: 220px;
	margin:0 15px;
	list-style: none;
}

.panelWatchList li{
	width: 40px;
	height: 50px; 
	float: left;
	margin: 2px;
}
.panelSiteRight{
	float: left;
	width: 193px;
	
}
.panelSiteCenter{
	width: 467px;
	float: left;
	min-height: 200px;
	margin: 0 27px;
}
.panelBtnMini{
	border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 85px;
    margin: 10px 0;	
}
.panelBtnMini:hover{
	opacity: 0.8;
	text-decoration: none;
}
.panelBtnMiniBlue{
   background: url("/public/images/pageBg/.png") no-repeat scroll 8px 8px #0065C0;
    border: 1px solid #004B8F;
    margin-right: 0;
}
.panelLinkDef{
	margin-top: 5px;
	padding: 0 5px;
	background: url('/public/images/pageBg/nextLinkIcon.png') no-repeat  right 4px;
}

.noticeBox,
.notesBox{
	float: left;
	width: 467px;
	clear: both;
}
.panelNoticeList,
.panelNotesList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin-top: 0;
}
.panelNoticeList li,
.panelNotesList li{
	float: left;
	width: 467px;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 34px;	
	border-bottom: 1px solid #ECECEC;
}
.panelNoticeList li:last-child,
.panelNotesList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.panelNoticeList li:nth-child(2n),
.panelNotesList li:nth-child(2n){
	background-color: #f3f3f3;
}
.panelNoticeList img,
.panelNotesList img{
	float: left;
	margin: 15px 7px 0 10px
}
.panelNoticeList a,
.panelNotesList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.panelNoticeList span,
.panelNotesList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}


.adsPanelRightBox{
	float: left;
	width: 193px;
}
.adsPanelRightBoxList{
	float: left;
	width: 193px;	
	list-style: none;
}
.adsPanelRightBoxList li{
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #ECECEC;
	float: left;
	width: 193px;	
}
.adsPanelRightBoxList li:first-child{
	padding-top: 0px;	
}
.adsPanelRightBoxList li:last-child{
	border-bottom: none;
	padding-top: 15px;
	padding-bottom: 0;	
}
.adsPanelRightBoxListHeader{
	float: left;
	width: 193px;	
}
.adsPanelRightBoxListDate{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: left;
	margin-top: -10px;
	line-height: 20px;	
	display: block;
	width: 193px;	
}
.adsPanelRightBoxListHeader{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
	font-weight: bold;
} 
.adsPanelRightBoxListText{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
	float: left;
}


.premMessageBox{
	float: left;
	width: 467px;
}
.premMessageList{
	float: left;
	width: 467px;	
	list-style: none;
}
.premMessageList li{
	padding: 0;
	float: left;
	width: 135px;
	margin: 0 25px 0 0;	
}
.premMessageList li:first-child{
	margin-left:10px;
}
.premMessageList li:last-child{
	margin:0;
}
.premMessageListHeader{
	float: left;
	width: 135px;
	margin-bottom: 10px;	
}
.premMessageListDate{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: left;
	line-height: 20px;	
	display: block;
	width: 135px;	
}
.premMessageListHeader{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
	font-weight: bold;
} 
.premMessageListText{
	font-size: 12px;
	font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
	line-height: 20px;	
	color: #000;
}
.onlineUserBox{
	float: left;
	width: 467px;
}
.onlineUsersList{
	float: left;
	width: 467px;
	list-style:none;	
}
.onlineUsersList li{
	float: left;
	width: 79px;
	margin: 0 7px;
	text-align: center;	
}
.onlineUsersList li img{
	border-bottom: 3px solid #E825AD;
	float: left;
}
.onlineUsersList li span{
	color: #E825AD;
    font-size: 12px;
    margin: 0;
    padding:0;
    font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
    float: left;
    display: block;
    width: 79px;
}

.newUserBox{
	float: left;
	width: 467px;
}
.newUsersList{
	float: left;
	width: 467px;
	list-style:none;	
}
.newUsersList li{
	float: left;
	width: 79px;
	margin: 0 7px;
	text-align: center;	
}
.newUsersList li img{
	border-bottom: 3px solid #E825AD;
	float: left;
}
.newUsersList li span{
	color: #E825AD;
    font-size: 12px;
    margin: 0;
    padding:0;
    font-family: 'Oxygen', sans-serif,arial,verdana,sans-serif;
    float: left;
    display: block;
    width: 79px;
}
.banerBox{
	float: left;
	width: 193px;
}
.banerBox .baner{
	float:left;
	margin: 5px 0;
	border: 1px solid #ececec;
	width: 191px;
	height: 250px;
	display: block;
}
.panelSearch{
	float: left;
	width: 663px;
	margin-left:40px;
}
.searchFotoUser{
	float: left;
	border-bottom: 3px solid #E825AD;
}
.panelBaner{
	  float: left;
    margin: 30px 0 0;
    width: 250px;
    height: 200px;
    border: 1px solid #ECECEC;
}
.searchUserBox{
	float: left;
	width: 663px;
}
.searchUserBoxLeft{
	float: left;
	width: 210px;
	margin:0 0 0 24px;
}
.searchUserBoxRight{
	float: left;
	width: 250px;
	margin:0 0 0 29px;
}
.searchUserName{
	font-size: 28px;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	font-weight: normal;
	margin: -5px 0 5px 0;
	padding:0;
	color: #e825ad;
}
.searchUserBtn{
	background: url("/pageBg/rightBtnIcon.png") no-repeat scroll 18px 24px #E825AD;
    border: 1px solid #BF168C;
    width: 145px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    margin: 0 0 10px 0;
    font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
}
.searchUserTxtTop{
	width: 210px;
	float: left;
	display: block;
	font-size: 13px;
	font-family: Calibri;
	margin: 5px  0 0 0;	
}
.searchUserLabelLeft{
	float: left;
	width: 250px;
	color: #e82baf;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold; 
}
.searchUserListTop{
	float: left;
	width: 250px;
	list-style: none;
	margin:10px 0 0 0;
	padding:0;
	
}
.searchUserListTop li{
	float: left;
	width: 225px;
	list-style: none;
	margin:6px 0;
	padding:0 0 0 25px;	
	color: #000;
	font-size: 14px;
	height: 18px;
	line-height; 18px;
	font-family: Calibri;
	background: url("/pageBg/seklectIconPink.png") no-repeat scroll 0 0;
}
.searchUserMenu {
	margin:20px 0;
	padding:0;
	width: 663px;
	float: left;
	clear: both;
}
.searchUserMenu ul{
	list-style: none;
	margin:0;
	padding:0;
	width: 663px;
	float: left;
	height: 35px;
}
.searchUserMenu ul li{
	float: left;
	width: 127px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ececec;	
	border-top: 1px solid #ececec;
	margin: 0 2px;
	text-align: center;	
}

.searchUserMenu ul li span{
	color: #e825ad;
	font-size: 12px;
	font-family: Calibri;	
}
.searchUserMenu ul li span:hover{
	cursor: pointer;
	text-decoration: underline;
}
.searchGalleryBox{
	float: left;
	width: 663px;
	clear: both;
	margin: 0 0 20px 0;
}
.searchGalleryBoxContent{
	float: left;
	width: 663px;
	clear: both;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ECECEC;		
}
.searchHeader{
	float: left;
	width: 663px;
	margin: 0;
	padding:0;
	text-align: center;
	font-size: 24px;
	color: #000;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
}
.searchHeaderInfo{
	float: left;
	width: 663px;
	display: block;
	margin: 0;
	padding:0;
	text-align: center;
	font-size: 11px;
	color: #000;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
}
.searchGalleryList{
	list-style: none;
	margin:35px 14px 0 14px;
	padding:0;
	float: left;
	width: 612px;
	height: 100px;
}
.searchGalleryList li{
	list-style: none;
	margin:0;
	padding:0;
	float: left;
	height: 100px;
	margin:0 7px;
	background: url("/public/images/pageBg/zoomIcon.png") no-repeat scroll center center;
}
.searchGalleryList li:hover{
	background: url("/public/images//pageBg/zoomIcon.png") no-repeat scroll center center;
	cursor: pointer;
}
.searchGalleryList li img:hover{
	background: url("/public/images//pageBg/zoomIcon.png") no-repeat scroll center center;
	opacity:0.2;
}
.searchGalleryNextBtn{
	width: 11px;
	height: 28px;
	display: block;
	overflow: hidden;
	text-indent: -1000px;
	background: url("/public/images//pageBg/galleryPrevNActiv.png") no-repeat scroll 0 0;
	float: left;
	margin-top: 90px;
}
.searchGalleryPrevBtn{
	float: right;
	width: 11px;
	height: 28px;
	display: block;
	margin-top: 90px;
	overflow: hidden;
	text-indent: -1000px;
	background: url("/public/images/pageBg/galleryNextActivPink.png") no-repeat scroll 0 0;	
}
.searchGalleryNextBtn:hover,
.searchGalleryPrevBtn:hover{
	opacity:0.5;
	cursor: pointer;
}
.searchGalleryPagination{
	float: left;
	clear: both;
	width:363px;
	padding: 0 0 0 300px;
	height: 9px;
	margin: 15px 9px;
}

.searchGalleryPaginStep{
	float: left;
	display: block;
	text-indent:-1000px;
	overflow:hidden;
	width: 7px;
	height: 7px;
	background: url("/public/images/pageBg/galleryPagin.png") no-repeat scroll 0 0;
	margin:1px 2px;	
}
.searchGalleryPaginStepActiv{
	width: 9px;
	height: 9px;
	background: url("/public/images/pageBg/galleryPaginA.png") no-repeat scroll 0 0;
	margin:0 2px;		
}
.searchAboutMeBox{
	float: left;
	width: 663px;
	clear: both;
}
.searchAboutMeTxt{
	width: 663px;
	float: left;
		color: #000;
	font-size: 14px;
	line-height: 18px;
	font-family: Calibri;
	margin-top: 30px;
	padding-bottom: 30px;
		
}
.searchAboutMeListBox{
	border-top: 1px solid #ECECEC;		
	margin:0 0 0 -12px;
	padding:0;
	float: left;
	width: 687px;
}
.searchAboutMeList{

	list-style: none;
	margin:0;
	padding:0;
	float: left;
	width: 720px;
}
.searchAboutMeList li{
	float: left;
	width: 318px;
	padding: 12px 0 12px 12px;
	margin: 0 28px 0 0;
	border-bottom: 1px solid #ECECEC;	
}
.searchAboutMeList li p{
		color: #000;
	font-size: 14px;
	line-height: 18px;
	font-family: Calibri;	
}
.searchAboutMeList li p b{
	display: block;
	width: 190px;
	float: left
}
.loginPanel{
	float: left;
	clear: both;
	margin: 0 18px;
    width: 964px;
    border-top: 1px solid #ECECEC;	
}
.loginForm{
	clear: both;
    float: left;
    margin: 50px 132px;
    width: 700px;
}
.loginForm ul{
	float: left;
    list-style: none outside none;
    width: 700px;
}
.loginForm ul li {
    float: left;
    list-style: none outside none;
    padding: 20px 0;
    width: 700px;
    position: relative;
}
label.error{
	position:absolute;
	top:-2px;
	left:230px;
	color: #C90E1A;
	font-size: 10px;
}
input.error{
	outline: 1px solid #FF4C58;
}
.siteMessage{
	width:1000px;
	margin: 0;
	clear: both;
	border: 1px solid #ECECEC;
	height: 50px;
	line-height:50px;
	text-align:center;

	font-size: 18px;
	text-transform:uppercase;
}
.positiveSiteMessage
{
	color: #58C958;
	background-color: #58C958;
	background: #58C958; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWQ4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjlkODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #58C958 0%, #ffffff 50%, #58C958 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#58C958), color-stop(50%,#ffffff), color-stop(100%,#58C958)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #58C958 0%,#ffffff 50%,#ff9d89 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #58C958 0%,#ffffff 50%,#58C958 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #58C958 0%,#ffffff 50%,#58C958 100%); /* IE10+ */
	background: linear-gradient(to right,  #58C958 0%,#ffffff 50%,#58C958 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58C958', endColorstr='#58C958',GradientType=1 ); /* IE6-8 */	
}
.negativeSiteMessage
{
	color: #C90E1A;
	background-color: #FF9D89;
	background: #ff9d89; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWQ4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjlkODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #ff9d89 0%, #ffffff 50%, #ff9d89 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff9d89), color-stop(50%,#ffffff), color-stop(100%,#ff9d89)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* IE10+ */
	background: linear-gradient(to right,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d89', endColorstr='#ff9d89',GradientType=1 ); /* IE6-8 */
}
.editAccBox{
	float: left;
    margin: 0;
    min-height: 200px;
    width: 467px;
    clear: both;
}
.updateAccForm{
	float: left;
    margin: 0;
    width: 467px;	
}
.updateAccForm ul{
	float: left;
	padding: 20px 0 0 0;
    margin:0 0 10px 0;
    width: 467px;
    list-style: none;
    border-top: 1px solid #ECECEC;		
}
.updateAccForm ul li {
    float: left;
    list-style: none outside none;
    padding: 10px 0;
    position: relative;
    width: 467px;
}
.updateFormHeaderLabel{
	color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width: 130px;
}
.updateFormHeaderLabelLong {
    line-height: 13px;
    margin-top: 0px;
}
.updateFormInputText {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 18px;
    padding: 3px 5px;
    width: 250px;
}
.updateFormSelect {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 262px;
}
.updateFormTextarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 20px;
    height: 200px;
    padding: 0 5px;
    width: 250px;
}
.updateFormSubmitBlue {
    background-color: #0065C0;
    border: 1px solid #004B8F;
}
.updateFormSubmit {
    border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family:'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 19px;
    height: 54px;
    line-height: 50px;
    margin: 0 0 0 146px;
    text-align: center;
    width: 250px;
}
.updateFormSubmit:hover{
	opacity:0.8;
	cursor: pointer;
}
.updateFormGroupCheckbox{
	float: left;
    line-height: 30px;
    padding: 0;
    width: 262px;
}
.updateFormGroupCheckbox input[type="checkbox"] {
    margin: 5px 0 5px 0;
    float: left;
}
.updateFormGroupCheckbox label {
    color: #494949;
    font-family: 'calibri';
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 0 0 0 10px;
    float: left;
}
.myContactsBox,
.historyContactBox,
.favouritesBox,
.blockedBox{
	float: left;
    min-height: 200px;
    width: 467px;
}
.myContactsUsersList,
.historyContactList,
.favouritesList,
.blockedList{
	float: left;
    list-style: none outside none;
    width: 467px;
}
.myContactsUsersList li,
.historyContactList li,
.favouritesList li,
.blockedList li{
    float: left;
    margin: 0 7px 20px 7px;
    text-align: center;
    width: 79px;
}

.myContactsUsersList li img,
.historyContactList li img,
.favouritesList li img,
.blockedList li img  {
    border-bottom: 3px solid #E825AD;
    float: left;
}
.myContactsUsersList li span,
.historyContactList li span,
.favouritesList li span,
.blockedList li span{
    color: #E825AD;
    display: block;
    float: left;
    font-family:'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 79px;
}
.blinksBox{
	float: left;
	width: 467px;
	clear: both;
}
.blinksList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin-top: -15px;
}
.blinksList li{
	float: left;
	width: 467px;
	height: 34px;
	line-height: 34px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
}
.blinksList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.blinksList li:nth-child(2n){
	background-color: #f3f3f3;
}
.blinksList img{
	float: left;
	margin: 4px 7px 0 10px;
	width: 20px;
	height: 25px;
}
.blinksList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.blinksList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}
.messageBox{
	float: left;
	width: 467px;
	clear: both;
}
.messageList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin: 0;
	padding: 0;
}
.messageList li{
	float: left;
	width: 467px;
	line-height: 34px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
}
.messageList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.messageList li:nth-child(2n){
	background-color: #f3f3f3;
}
.messageList img{
	float: left;
	margin: 4px 7px 0 10px;
	width: 20px;
	height: 25px;
}
.messageList a.messageListTitle{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.messageList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}
.invitationsBox{
	float: left;
	width: 467px;
	clear: both;
}
.invitationsList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin: 0;
	padding: 0;
}
.invitationsList li{
	float: left;
	width: 467px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
	padding: 20px 0;
}
.invitationsList li:last-child{
	border-bottom: none;
}
.invitationsList img{
	float: left;
	border-bottom: 3px solid #E825AD;
    float: left;
}
.invitationsList a{
	color: #E825AD;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    clear: right;
    float: left;  
}
.invBtnBlue{
	border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 85px;
    background: url("/public/images/pageBg/.png") no-repeat scroll 8px 8px #727272;
    border: 1px solid #969696;
    margin-right: 0;
}
.invBtnBlue:hover{
	opacity:0.8;
	cursor: pointer;
}
.invitationsBoxContent{
    float: left;
    margin: 0 0 0 24px;
    width: 290px;
}
.findUserBox{
	float: left;
	width: 467px;
	clear: both;	
}
.findBox{
    float: left;
    margin: 0 0 0 24px;
    width: 290px;
}
.serchResult{
	float: left;
	width: 467px;
	clear: both;	
}
.findList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin: 0;
	padding: 0;
}
.findList li{
	float: left;
	width: 467px;
	margin: 0;
	border-bottom: 1px solid #ECECEC;
	padding: 20px 0;
}
.findList li:last-child{
	border-bottom: none;
}
.findList img{
	float: left;
	border-bottom: 3px solid #E825AD;
    float: left;
}
.findList a{
	color: #E825AD;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    clear: right;
    float: left; 
}
.historyDetailsBox{
	float: left;
	width: 467px;
	clear: both;	
}
.historyDetailsBoxContent{
    float: left;
    margin: 0 0 0 24px;
    width: 290px;
}
.historyDetailsBoxContent img{
	float: left;
	border-bottom: 3px solid #E825AD;
    float: left;
}
.historyDetailsBoxContent a{
	color: #E825AD;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    clear: right;
    float: left; 
}
.historyDetailsList{
	float: left;
	width: 467px;
	margin:20px 0 0 0;
	list-style: none;
	border-top: 1px solid #ECECEC;
}
.historyDetailsList li{
	float: left;
	width: 467px;
	margin:0;
	padding: 0;
	height: 34px;
	line-height: 34px;	
	border-bottom: 1px solid #ECECEC;
}
.historyDetailsList li:last-child{
	margin-bottom: -15px;
	border: none;
}
.historyDetailsList li:nth-child(2n){
	background-color: #f3f3f3;
}
.historyDetailsList img{
	float: left;
	margin: 15px 7px 0 10px
}
.historyDetailsList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.historyDetailsList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}

.searchSort{
	float: left;
	width: 467px;
	clear: both;
	margin: -5px 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ECECEC;
}
.searchSortForm{
	float: left;
	width: 467px;
}
.searchSortLabel{
	float: left;
   color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
}
.searchSortLabelNr{
	margin: 0 0 0 100px;	
}
.searchSortSelect{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 212px;
}
.searchSortNrSelect{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 50px;	
}


.searchType{
	float: left;
	width: 447px;
	padding: 10px;
	margin: 10px 0 30px 0;
	background-color:#ECECEC;
}
.searchType ul{
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 427px;
}
.searchType ul li{
	margin: 0;
	padding:10px  0;
	float: left;
	width: 447px;
}
.searchType h3{
	color: #000000;
    float: left;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    width: 190px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
}
.searchType h4{
	color: #000000;
    float: left;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin:0;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    width: 128px;
}
.searchTypeHeader{
	float: left;
	width: 257px;
}
.searchType h4.searchTypeHeaderSelected{
	 border: 1px solid #CCCCCC;
	 background-color: #fff;
	 border-bottom: none;
	 width: 127px;
}
.simpleSearch{
	float: left;
	width: 425px;
	padding: 10px;
	clear: both;
	background-color: #fff;
	border: 1px solid #CCCCCC;
	border-top:none; 
}
.simpleSearchFormLabel{
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width: 130px;
}

.simpleSearchFormLabelLong {
    line-height: 13px;
    margin-top: 0;
}
.simpleSearchFormLabelShort{
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: left;
    width: 10px;
}
.simpleSearchFormSelectShort{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    margin-right: 40px;
    width: 60px;
}
.simpleSearchFormSelect{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 200px;
}
.simpleSearchGroupCheckbox {
    float: left;
    line-height: 30px;
    padding: 0;
    width: 200px;
}
.simpleSearchGroupCheckbox label {
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 175px;
}

.simpleSearchGroupCheckbox input[type="checkbox"] {
    float: left;
    margin: 5px 0;
}
.simpleSearchFormInputSubmit{
	border-radius: 1px;
    color: #FFFFFF;
    display: block;
    float: left;
    text-align: center;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px 140px;
    width: 145px;
}
.simpleSearchFormInputSubmit:hover{
	opacity: 0.8;
	cursor: pointer;
}
.simpleSearchFormInputSubmitBlue{
	background: url("/pageBg/rightBtnIcon.png") no-repeat scroll 18px 24px #0065C0;
    border: 1px solid #004B8F;
}
.searchType > a:last-child{
	float: left;
	margin-left: 0;
}
.adsBoxW{
	float: left;
	margin:0;
	min-height: 200px;
	width: 467px;
	clear: both;
}
.adsFormShowBox,
.adsFormAddBox,
.adsMyShowBox{
	float: left;
	width: 467px;
	clear: both;	
}
.adsMyShowBox{
	margin-top: 50px;
}
.adsFormAddBox{
	margin-top: 20px;
}
.adsFormShowRow{
	float: left;
}
.adsFormShowTitle,
.adsFormAddTitle,
.adsFormShowGroup label,
.adsFormAddGroup label{
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
}
.adsFormAddTitle{
	font-weight: bold;
}
.adsFormShowGroup{
	padding: 0 5px;
	float: left;
}
.adsFormAddGroup{
	padding: 0 10px;
	float: left;
}
.adsFormAddRow{
	float: right;
}
.adsFormShowGroup input[type="radio"],
.adsFormAddGroup input[type="radio"]{
	float: left;
	margin: 6px 2px 0 0;
	
}
.adsFormShowList,
.adsMyShowList{
	float: left;
	width: 467px;
	margin: 0;	
	list-style: none;
	margin:10px 0 0 0;
}
.adsFormShowList li,
.adsMyShowList li{
	float: left;
	width: 467px;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 34px;	
	border-bottom: 1px solid #ECECEC;
}
.adsFormShowList li:first-child,
.adsMyList li:first-child{
	border-top: 1px solid #ECECEC;
}
.adsFormShowList li:nth-child(2n),
.adsMyList li:nth-child(2n){
	background-color: #f3f3f3;
}
.adsFormShowList a,
.adsMyList a{
	color: #000;
	font-size: 13px;
	font-family: 'Calibri';
}
.adsFormShowList span,
.adsMyList span{
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Calibri';
	float: right;
	line-height: 34px;	
}
.adsFormSubmit{
    border-radius: 1px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 85px;
    background: url("/public/images/pageBg/.png") no-repeat scroll 8px 8px #0065C0;
    border: 1px solid #004B8F;
    margin-right: 0;
}
.adsFormSubmit:hover{
	opacity: 0.8;
	cursor: pointer;
}
/**************Formularze*****************/
.globalContentForm{
	float: left;
    margin: 0;
    width: 467px;
}
.globalContentForm ul{
   border-top: 1px solid #ECECEC;
    float: left;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 20px 0 0;
    width: 467px;	
}
.globalContentForm li{
	float: left;
    list-style: none outside none;
    padding: 10px 0;
    position: relative;
    width: 467px;
}
.globalContentForm .mainLabel{
   color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width: 130px;
}
.globalContentForm .mainLabelLong{
    line-height: 13px;
    margin-top: 0;	
}
.globalContentForm label.error{
	position: absolute;
	top:-6px;
	left: 140px;
	color: #C90E1A;
    font-size: 10px;
}
.globalContentForm input[type="text"],
.globalContentForm input[type="password"]{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 18px;
    padding: 3px 5px;
    width: 250px;
}

.globalContentForm input[type="submit"]{
    border-radius: 1px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: 'Oxygen',sans-serif,arial,verdana,sans-serif;
    font-size: 19px;
    height: 54px;
    line-height: 50px;
    margin: 0 0 0 140px;
    text-align: center;
    width: 260px;
}
.globalContentForm input[type="submit"]:hover{
	cursor: pointer;
	opacity: 0.8;
}
.globalContentForm input[type="submit"].blueFormSubmit{
    background-color: #0065C0;
    border: 1px solid #004B8F;	
}
.globalContentForm input[type="submit"].pinkFormSubmit{
    background-color: #E825AD;
    border: 1px solid #BF168C;	
}
.globalContentForm textarea{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 20px;
    height: 200px;
    padding: 0 5px;
    width: 250px;	
}
.globalContentForm select{
	border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 16px;
    padding: 1px;
    width: 262px;
}
.globalContentForm input[type="checkbox"]{
	float: left;
    margin: 5px 0;
}
.globalContentForm .radioGroupHorizontal{
	float: left;
    margin: 5px 0;
    width: 250px;
}
.globalContentForm .radioGroupHorizontalRow{
	float:left;
	width: 250px;
}
.globalContentForm .radioGroupHorizontalRow label{
	margin: 0 30px 0 5px;
}
.globalContentForm .radioGroupHorizontalRow span{
	display: block;
	width: 50%;
	float: left;
}
.globalContentForm .checkBoxGroup {
    float: left;
    line-height: 30px;
    padding: 0;
    width: 262px;
}
.globalContentForm .checkBoxGroup input[type="checkbox"] {
    float: left;
    margin: 5px 0;
}
.globalContentForm .checkBoxGroup label {
    color: #494949;
    float: left;
    font-family: 'calibri';
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 10px;
}
/*************************************************/
.fotoEditBox{
    clear: both;
    float: left;
    margin: 0;
    min-height: 200px;
    width: 467px;	
}
.fotoEditBox ul.fotoList{
    clear: both;
    float: left;
    list-style: none;
    margin: 0;
    min-height: 100px;
    width: 467px;	
}
.fotoEditBox ul.fotoList li{
    float: left;
    list-style: none;
    margin: 5px 5px 20px 5px;
    height: 120px;
    width: 79px;
}
.fotoEditBox ul.fotoList li img{
	border-bottom: 3px solid #fff;	
}
.fotoEditBox ul.fotoList li a{
	display: block;
	width: 79px;
	text-align: center;
	color: #0065C0;
	font-size: 10px;
}
.fotoEditBox .fotoListBox{
	float: left;
	width: 467px;
	margin: 50px 0 0 0;
}
