@font-face
{
	font-family: KozGoPr6N-Regular;
	src: url('/public/fonts/KozGoPr6N-Regular.otf');
} 
@font-face
{
	font-family: KozGoPr6N-Bold;
	src: url('/public/fonts/KozGoPr6N-Bold.otf');
} 
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
  border: 0;
  padding: 0;
}
.clearfix {
	clear: both;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
} 
.boldFont{
	font-weight: bold;
}
#messageWindowContainer
{
	display: none;
}
#messageWindowFog
{
	background-color: #000;
	opacity:0.8;
	width: 100%;
	height: 100%;
	position: fixed;	
	left: 0px;
	top: 0px;
}
#messageWindow
{
	top: 10px;
	width: 400px;
	height: 100px;
	position: fixed;
	border-radius: 3px;
}
.messageText{
	width: 400px;
	height: 100px;
}
.messageSendButton{
	border-radius: 1px 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 77px;
    background-color:#0065C0;
    border: 1px solid #004B8F;
    margin:10px 0;
    text-indent: 12px;
}
.messageSendButton:hover{
	cursor: pointer;
	opacity: 0.8;	
}
.messageCloseBtn{
	padding: 0;
	margin: 2px 0;
	float: right;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
}
.messageCloseBtn:hover{
	cursor: pointer;
	opacity: 0.8;
}
body {
	padding:0;
	margin:0;
	font-family:'Oxygen', sans-serif, arial, verdana, sans-serif;
	font-size: 14px;
	color: #0a111b;
	text-align:left;
	background-color: #ececec;
}
.separator{
	float: left;
	width: 1px;
	height: 18px;
	background-color: #bebebe;
	margin: 0 5px;
}
.site{
	margin: 0 auto;
	width: 1000px;
	min-height: 500px; 
}
.header{
	width: 1000px;
	float: left;
	hei/ght: 172px;
	clear: both;
}
.headerLeft{
	float: left;
	padding: 10px 0;	
}
.headerUserInfo{
	color: #1e1e1e;
	font-size: 13px;
	font-family: Calibri;
	float: left;
}
.headerLoginLink{
	color: #1e1e1e;
	font-size: 13px;
	font-family: Calibri;
	float: left;	
}
.colorFontPink{
	color: #E926AE;
}
.colorFontBlue{
	color: #0065C0;
}
.headerRight{
	float: right;
}
.headerLabel{
	color: #1e1e1e;
	font-size: 13px;
	font-family: Calibri;
	float: left;
	margin: 10px;	
}
.headerBtns{
	width: 77px;
	height: 28px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	float: left;
	display: block;
	margin: 5px 3px;
	font-size: 12px;
	border-radius: 1px;
}
.headerBtns:hover,
.accBtns:hover,
.headerBtnSearchBlue:hover{
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
}
.headerBtnPink{
	border: 1px solid #bf168c;
	background: #e825ad url('/public/images/pageBg/headerBtnPieknaBg.png') no-repeat 12px 8px;
	text-indent: 10px;
}
.headerBtnBlue{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
}
.headerBtnSearchBlue{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/searchIconBlue.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;	
}
.headerBtnAccBlue{
	border: 1px solid #004b8f;
	background-color: #0065c0;
	margin-right: 0;
}
.headerBtnLogoutBlue{
	border: 1px solid #004b8f;
	background-color: #0065c0;
	margin-right: 0;
}
.pibLoginMenu{
	float: left;
}
.pibLoginMenu ul{
	list-style: none;
	margin:0;
	padding: 0;	
	float: left;
}
.pibLoginMenu li{
	float: left;
}
.pibLoginMenu li a{
	list-style: none;
	margin:0;
	padding: 0;	
	width: 50px;
	height: 28px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	float: left;
	display: block;
	margin: 5px 3px;
	font-size: 12px;
	border-radius: 1px;
}
.pibLoginMenu li:nth-child(1) a{
	border: 1px solid #bf168c;
	background: #e825ad url('/public/images/pageBg/headerBtnPieknaBg.png') no-repeat 12px 8px;
	text-indent: 10px;
}
.pibLoginMenu li:nth-child(2) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
}
.pibLoginMenu li:nth-child(3) a{
	border: 1px solid #bf168c;
	background: #e825ad url('/public/images/pageBg/headerBtnPieknaBg.png') no-repeat 12px 8px;
	text-indent: 10px;
	width: 100px;
}
.pibLoginMenu li:nth-child(4) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
	width: 120px;
}
.pibLoginMenu li:nth-child(5) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
	width: 120px;
}
.pibLoginMenu li:nth-child(6) a{
	border: 1px solid #004b8f;
	background: #0065c0 url('/public/images/pageBg/headerBtnBogatyBg.png') no-repeat 8px 8px;
	margin-right: 0;
	text-indent: 12px;
}
.logoHeader{
	width: 1000px;
	float: left;
	background-color: #fff;
	margin:0;
	padding:0;
}
.logo{
	width: 315px;
	height: 48px;
	background: url('/public/images/pageBg/logo.png') no-repeat 0 0;
	float: left;
	text-indent: -2000px;
	overflow: hidden;
	margin: 25px 342px 10px 342px;
}
.logoTxt{
	font-size: 18px;
	color: #aeaeae;
	float: left;
	width: 1000px;
	text-align: center;
	font-style: italic;
	font-family: 'Georgia',arial;
	padding: 0 0 30px 0;
	margin:0;
	background-color: #fff;
}
.content{
	width: 1000px;
	float: left;
	min-height: 500px; 
	background-color: #fff; 
	clear: both;		
}
.footer{
	width: 1000px;
	float: left;
	clear: both;
}
.menuFooter{
	width: 1000px;
	float: left;
	height: 67px;
	border-bottom: 1px solid #d2d2d2;
}
.menuFooterList{
	float: left;
	width: 460px;
	margin: 0 270px;
	list-style: none;
	height: 67px;
	line-height:67px;
	color: #747474; 
}
.menuFooterList li{
	float: left;
	padding: 0 18px;	
}
.menuFooterList li a{
	color: #494949;
	font-size: 13px; 
	font-family: 'Calibri';	
}
.copyRights{
	float: left;
	width: 1000px;
	height: 100px;
	margin: 25px 0;
	text-align: center;
}
.copyRights img{
	margin: 15px 399px 10px 399px;
	float: left;
}
.copyRights span{
	color: #494949;
	font-size: 13px; 
	font-family: 'Calibri';
	margin: 0;
	line-height: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 0 auto;
	text-align: center;
	width: 1000px;
}
.copyRights span a{
	color: #494949;
	font-size: 13px; 
	font-family: 'Calibri';	
}
label.error{
	position:absolute;
	top:-2px;
	left:230px;
	color: #C90E1A;
	font-size: 10px;
}
input.error{
	outline: 1px solid #FF4C58;
}
.siteMessage{
	width:1000px;
	margin: 0;
	clear: both;
	border: 1px solid #ECECEC;
	height: 50px;
	line-height:50px;
	text-align:center;

	font-size: 18px;
	text-transform:uppercase;
}
.positiveSiteMessage
{
	color: #58C958;
	background-color: #58C958;
	background: #58C958; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWQ4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjlkODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #58C958 0%, #ffffff 50%, #58C958 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#58C958), color-stop(50%,#ffffff), color-stop(100%,#58C958)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #58C958 0%,#ffffff 50%,#ff9d89 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #58C958 0%,#ffffff 50%,#58C958 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #58C958 0%,#ffffff 50%,#58C958 100%); /* IE10+ */
	background: linear-gradient(to right,  #58C958 0%,#ffffff 50%,#58C958 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58C958', endColorstr='#58C958',GradientType=1 ); /* IE6-8 */	
}
.negativeSiteMessage
{
	color: #C90E1A;
	background-color: #FF9D89;
	background: #ff9d89; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWQ4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjlkODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #ff9d89 0%, #ffffff 50%, #ff9d89 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff9d89), color-stop(50%,#ffffff), color-stop(100%,#ff9d89)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* IE10+ */
	background: linear-gradient(to right,  #ff9d89 0%,#ffffff 50%,#ff9d89 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d89', endColorstr='#ff9d89',GradientType=1 ); /* IE6-8 */
}
/***************************************************************/
