
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        //$("#toLoad").load("http://localhost/abuse/list");

        print();
    });
</script>


{include file="index/index.tpl"}

<div id="toLoad"></div>







